body{
	
background-color:#f5f5f5;
margin:0px;
	
}
#navigation_box{
				
background-color:#709d10;
				
height:20%;
				
width:100%;
				
border-bottom:2px solid #f5f5f5;
			
}
#logo_image{
width:20%;
	
height:100%;
				
margin-top:0px;
				
float:left;
			
}
			
#navigation{
				
float:left;
				
color:#f5f5f5;
				
margin-left:20px;
				
margin-right:20px;
				
margin-top:;
				
margin-bottom:;
		
}
			
.nav{
				
list-style-type:none;
				
float:left;
				
margin-right:25px;
				
font-size:17px;
				
font-family:"Arial Rounded MT",sans-serif;
				
padding:3px;
				
color:#f5f5f5;
			
}
			
.navigation_link{
				
color:#f5f5f5;
				
text-decoration:none;
			
}
			
.navigation_link:hover{
				
background-color:#f5f5f5;
				
color:#709d10;
				
border-radius:5px;
				
padding:8px;
			
}
			
#heading{
				
text-align:center;
				
font-size:70px;
                
font-family:"Arial Rounded MT",sans-serif;
                
color:#709d10;
                
margin-bottom:-5px;
			
}
			
.buttons{
				
background-color:#709d10;
				
border-radius:50px;
				
color:#f5f5f5;
				
padding:10px;
				
margin-left:41%;
				
margin-right:41%;
				
width:18%;
				
margin-top:5px;
		        
font-size:25px;
				
font-family:"Arial Rounded MT",sans-serif;
			
}
			
#info_box{
				
background-color:#709d10;
				
color:#f5f5f5;
				
width:90%;
				
border-radius:10px;
				
margin-right:5%;
				
margin-left:5%;
			
}
			
#info{
				
text-align:justify;
				
font-size:25px;
				
font-family:"Arial Rounded MT",sans-serif;
				
padding:10px;
				
line-height:27px;
			
}
			
.infor{
				
color:#709d10;
				
font-weight:bold;
				
font-size:25px;
				
text-align:center;
				
font-family:"Arial Rounded MT",sans-serif;
			
}
			
#poor_image{
				
float:left;
				
height:200px;
				
width:200px;
			
}
			
.icon_images{
height:100px;
width:100px;
display:inline;
float:left;
margin-right:1px;

}
#icon_box{
	
width:100%;
				
border-radius:5px;
				
background-color:#709d10;
				
height:300px;
				
margin-top:3px;
			
}
			
.icon_img_para{
				
color:white;
				
font-size:20px;
				
font-family:"Arial Rounded MT",sans-serif;
				
padding-top:-2%;
			
}
			
.icon_img_para2{
				
color:orange;
				
font-size:20px;
				
font-family:"Arial Rounded MT",sans-serif;
				
padding-top:-2%;
			
}
.each_icon_box{
display:inline;
width:20%;
height:100px;
	
padding-top:2%;
		
}
			
.footer{
                
width:100%;
                
height:auto;
                
background:#666;
                
padding:30px 0px;
                
float:left;
                
text-align:center;
                
color:#fff;
                
margin-bottom:0px;
			
}
			
#work_box{
background-color:#709d10;
width:100%;
}
#box_inside_work_box{
background-color:#f5f5f5;

border:10px solid #709d10;
		
border-radius:5px;
				
width:80%;
				
margin-left:10%;
				
margin-right:10%;
			
}
			
#work_para{
				
color:#709d10;
				
text-align:center;
				
font-size:25px;
				
font-family:"Arial Rounded MT",sans-serif;
		
}
	
#gallery{
				
width:100%;
				
height:500px;
				
overflow:scroll;
				
background-color:#709d10;
			
}
			
.feed_img{
				
border:10px solid #709d10;
				
width:40%;
				
height:300px;
				
margin-top:5px;
				
margin-left:30%;
				
margin-right:30%;
			
}
			
.buttons_link{
				
font-size:25px;
				
text-decoration:none;
				
color:#f5f5f5;
			
}
	
#slogan_box{
width:100%;
background-color:#f5f5f5;
height:50%;
}	
#slogan{
text-align:center;
font-size:35px;
line-height:37px;
font-family:"Arial Rounded MT",sans-serif;
	
color:orange;
padding-top:5px;
}
#hungerfactbox{
width:100%;
height:300px;
background-image:url("poor1.webp");
background-repeat:no-repeat;
background-size:100% 300px;
margin-top:-60px;
}
#hungerfactpara{
color:white;
font-size:60px;
font-family:"Arial Rounded MT",sans-serif;
	
text-align:center;
float:center;
margin-left:20%;
margin-right:20%;
padding-top:3%;
padding-bottom:3%;
}	
#hungerMap{
height:500px;
width:50%;
margin-top:5px;
margin-right:0px;
margin-left:0px;
display:inline;
float:left;
}
#hungerMapSubtitle{
height:500px;
width:50%;
margin:0px;
display:inline;
float:left;
margin-top:5px;
margin-right:0px;
margin-left:0px;
}
#reasonsbox{
height:500px;
width:100%;
background-image:url("barrenfield.jpg");
background-repeat:no-repeat;
background-size:100% 500px;
display:block;
margin-top:490px;
margin-right:0px;
margin-left:0px;
}
#HungerBox{
width:100%;
height:600px;
margin-top:3px;
}
#truefacts_heading{
text-align:center;
font-family:"Arial Rounded MT",sans-serif;
	
font-weight:bold;
}
.note{
font-style:italic;
font-size:20px;
margin:10px;
}
#truefacts{
font-size:20px;
font-family:"Arial Rounded MT",sans-serif;
}
#getInvolved1{
width:100%;
height:500px;
}
#aboutUsHeading{
font-size:30px;
font-family:"Arial Rounded MT",sans-serif;
font-weight:bold;
text-align:center;
}
#aboutUsPara{
font-size:20px;
font-family:"Arial",sans-serif;
padding-left:20%;
padding-right:20%;
width:60%;
text-align:justify;
}
.ourwork{
width:100%;
height:400px;
margin:0px;
}
#ourworkheading{
font-size:30px;
text-align:center;
font-family:"Arial Rounded MT",sans-serif;
color:#709d10;
}
#beneficiaries{
margin-top:5px;
margin-bottom:5px;
width:100%;
height:400px;
}
#keymissions{
margin-top:5px;
margin-bottom:5px;
width:100%;
height:1000px;
}
#inevitablechallenge{
width:100%;
height:500px;
}
#donatefoodfromevents{
width:50%;
height:500px;
padding-right:25%;
padding-left:25%;
}
.donatefoodpara{
font-size:40px;
color:orange;
text-align:center;
font-family:"Arial Rounded MT",sans-serif;
}
#donatebutton{
height:100px;
width:30%;
padding-left:35%;
padding-right:35%;
}
#heading{
				
color:orange;
text-align:center;

}
			
#photo_box{
				
width:100%;
				
background-color:#709d10;
				
padding-top:8px;
				
padding-bottom:8px;
				
height:1230px;
			
}
			
.left_imgs{
				
width:48%;
				
margin-right:2%;
				
float:left;
				
display:inline;
				
height:300px;
				
margin-top:8px;
			
}
.right_imgs{
				
width:48%;
				
margin-left:2%;
				
float:right;
				
display:inline;
				
height:300px;
				
margin-top:8px;
			
}
#suggest_para{
               
display:block;
text-align:center;   
float:left; 
font-size:30px;
font-family:Consolas,sans-serif;    
color:orange;   
}
            
.inputs{
                
width:20%;
                
margin-left:40%;
                
margin-right:40%;
margin-bottom:15px;  
}
            
.submit{
                
width:20%;
               
margin-left:40%;
                
margin-right:40%;
            
}
            
#contact{
                
text-align:center;
                
font-size:30px;
  
color:black;          
}
#optional{
text-align:center;
color:black;
}
#developer{
				
color:orange;

text-align:center;
font-family:"Arial Rounded MT",sans-serif;
			
}
#developer_box{
	
background-color:#709d10;
color:#f5f5f5;
		
width:100%;

height:250px;
}
#developer_img{
		
float:left;

height:250px;
			
width:250px;
			
}
			
#developer_para{
color:#f5f5f5;
font-size:25px;

line-height:30px;
		
text-align:justify;
		
font-family:"Arial Rounded MT",sans-serif;
			
padding:5px;
		
}